
<%= simple_form_for(@n400_form, html: { id: 'SignupForm' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

	<fieldsets>
		<legend> Information About Your Eligibility</legend>
		<%= render 'step1', f: f %>
	</fieldsets>

	<fieldsets>
		<legend> Information About You</legend>
		<%= render 'step2', f: f %>
	</fieldsets>

  <div class="form-actions">
    <%= f.button :submit, id: 'SaveAccount', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>


