<p>1. Daytime Telephone Number</p>
<%= f.input :phone_day, label: false  %>

<p>2. Work Telephone Number (if any)</p>
<%= f.input :phone_work, label: false  %>

<p>3. Evening Telephone Number</p>
<%= f.input :phone_evening, label: false  %>

<p>4. Mobile Telephone Number (if any)</p>
<%= f.input :phone_mobile, label: false  %>

<p>5. Email Address (if any)</p>
<%= f.input :email_address, label: false  %>
