<h6>1. Daytime Telephone Number</h6>
<%= f.input :phone_day, label: false  %>

<h6>2. Work Telephone Number (if any)</h6>
<%= f.input :phone_work, label: false  %>

<h6>3. Evening Telephone Number</h6>
<%= f.input :phone_evening, label: false  %>

<h6>4. Mobile Telephone Number (if any)</h6>
<%= f.input :phone_mobile, label: false  %>

<h6>5. Email Address (if any)</h6>
<%= f.input :email_address, label: false  %>
