
<!--=== Content Part ===-->
<div class="container content">
  <div class="row justify-content-md-center">
    <div class="col col-lg-6">
      <!-- <form class="reg-page"> -->
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="reg-header">
          <h2>Login to your account</h2>
        </div>
         
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        placeholder: 'Username',
                        input_html: { autocomplete: "email", class: 'form-control' }, 
                        label: false %>            
            <%= f.input :password,
                        required: false,
                        placeholder: 'password',
                        input_html: { autocomplete: "current-password", class: 'form-control' },
                        label: false %>            


          <div class="row">
            <div class="col-md-6 checkbox">
              <!-- <label><input type="checkbox"> Stay signed in</label> -->
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="col-md-6">
              <!-- <button class="btn-u pull-right" type="submit">Login</button> -->
              <%= f.button :submit, "Login", class: 'btn-u pull-right' %>
            </div>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
        <hr>

        <h4>Forget your Password ?</h4>
        <p>no worries, <a class="color-green" href="#">click here</a> to reset your password.</p>
      <!-- </form> -->
    </div>
  </div><!--/row-->
</div><!--/container-->
